@model Filtros.Viewmodels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<div>
    @using (Html.BeginForm("account", "login", FormMethod.Post))
    {
    @Html.EditorForModel(Model)
    <input type="submit" value="Enviar" />
    }
</div>
